/* ================================

navi-responsive.css  

================================ */

/* Schritt 1: Die grundlegende Gestaltung der Navigation */

.site-nav {
  position: static; 
  padding: 0; 
}

.site-nav ul { 
  display: flex; 
  flex-flow: column; 
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.site-nav a {
  display: block; 
  text-decoration: none; 
  background: #333; color: white; 
  padding: 0.5rem 1rem;
  margin-right: -1rem;   
}

.site-nav a:hover, .site-nav a:focus { 
  background: #0b74b8; color: white;   
}

.current a { 
  background: #666; color: white; 
}


/* Schritt 2: Das HTML für den Menübutton erstellen */
/* Schritt 3: Den Menübutton per CSS gestalten */

.menubutton { 
  display: flex; 
  align-items: center; 
  cursor: pointer; 
  background: inherit; color: white; 
  font: inherit; 
  text-align: center; 
  padding: 0.5rem 1rem; 
  border: 0; 
  margin: 0; 
}

.menubutton::before {
  content: url(../bilder/menuburger.svg); 
  width: 1rem; 
  height: 1rem; 
  margin-right: 0.25rem; 
}


/* Schritt 4: Die Navigationsliste ausblenden */

.site-nav ul {
  max-height: 0; 
  overflow: hidden; 
  padding: 0; 
} 


/* Schritt 5: Die Navigationsliste einblenden */

.showmenu + ul {
  max-height: 100rem; 
  overflow: initial; 
  transition: max-height 500ms ease; 
}

.showmenu.menubutton::before {
  content: url(../bilder/menuclose.svg); 
}


/* Schritt 6: Die horizontale Navigation gestalten  */

@media screen and (min-width: 600px) {

  .menubutton {
    display: none !important; 
  } 
  
  .site-nav {
    position: sticky; 
  }
  
  .site-nav ul { 
    max-height: none !important; 
    flex-flow: row; 
    padding: 0; 
  }

  .site-nav li {
    flex: 1; 
    max-width: 10rem; 
    text-align: center; 
    border-left: 1px solid #eee; 
    margin: 0; 
  }
  .site-nav li:first-child {
    margin: 0; 
  }
  .site-nav li:last-child {
    border-right: 1px solid #eee; 
    margin: 0; 
  }
  .site-nav a {
    margin-right: 0; 
  }

} /* Ende @media */ 


