/* Stand k07/uebungswebsite/fertig/ - Klassen statt Elementselektoren und .infoboxen gestalten */ 

html { 
  scroll-behavior: smooth; 
}

.site-nav li {
	display: inline;
	margin-right: 0.5rem;
}

.site-nav {
	background-color: black;
  color: white; 
	padding: 0.5rem;
  margin: 1rem 0; 
}
.site-nav ul {
  padding: 0; 
  margin: 0; 
}

.site-nav a {
  color: white; 
  text-decoration: none; 
}

.site-footer {
  background-color: black;
  color: white; 
  text-align: right; 
  padding: 0.5rem;
}

.site-footer a {
  color: white; 
  text-decoration: none; 
}

.site-header h1 { 
  margin-bottom: 0; 
}
.site-header p {
  margin-top: 0; 
}


/* Grundlegende Gestaltung des Abschnitts mit den Infoboxen */ 
.infoboxen {
  background-color: whitesmoke; 
  padding: 1rem; 
  margin-bottom: 1rem; 
}

.infobox {
  text-align: center; 
  background-color: white; 
  padding: 1rem;
  margin: 1rem; 
}

