/* ================================

content.css 

- gestaltet die Inhalte in <main> 

================================ */ 


/** 
  * Die Links im Inhaltsbereich gestalten (K14 und K16)
  */ 

.site-content a[href^="http"]::after { content: " \2197"; }

.site-content a:link { color: #0b74b8; } 
.site-content a:visited { color: #36aade; } 
.site-content a:hover, .site-content a:focus { color: #f5662e; }
.site-content a:active { color: #d90000; }

/** 
  * Gestaltung der Infoboxen (K07 und K17)
  */ 

.infoboxen {
  background-color: #eee; 
  padding: 1rem 0; 
  margin-bottom: 1rem; 
}

.infobox {
  text-align: center; 
  background-color: white; 
  padding: 1rem;
  margin: 1rem 0; 
}


/** 
  * 3. Gestaltung der Kundenstimmen (K16)
  */ 
.kundenstimme {
  text-align: center; 

  background-color: #eee;
  background-image: linear-gradient(to right, #eee, whitesmoke); 
  box-shadow: 0 1px 3px rgb(51,51,51,0.3); 
  
  padding: 1rem;
  border-left: 5px solid #0b74b8; 
  margin: 0; 
  margin-bottom: 1rem; 
}

.kundenstimme p:first-child {
  font-size: 1.25rem; 
  font-weight: bold; 
}


/**
  * Gestaltung der Inhalte auf der Seite News (K11) 
  */

.beitragsliste h3, 
.linklisten h3 {
  padding-top: 0.5rem; 
  border-top: 1px solid #eee; 
  margin-bottom: 0.25rem; 
}
.beitragsliste h3 a { 
  color: #333; 
}
.beitragsliste article, 
.linklisten section { 
  margin-bottom: 3rem; 
}
.beitragsinfo { 
  color: #999; 
}

