/* ================================

   print.css  

   Einfache Druckversion für die Beispielseiten

   ================================ */

@media print {

  /* Grundformatierung für alle Elemente mit !important */ 
  * { 
    box-shadow: none !important; 
    text-shadow: none !important; 
  } 

  /* Weißer Hintergrund für das Stammelement <html> */ 
  html { background-color: white; } 

  /* Navigation und Footer ausblenden */ 
  .site-nav, .site-footer { display: none; }

} /* Ende @media */ 



/* eof */