/* ================================

   style.css  

   zentrales Stylesheet
   wird im HTML per <link> eingebunden 
   
   Stand k20/uebungswebsite/fertig/ 

   ================================ */

@import url("basis.css"); 

@import url("layout.css"); 

@import url("layout-modern.css"); 

@import url("navi-inline.css"); 

@import url("content.css"); 

@import url("formulare.css"); 

@import url("print.css"); 


/* eof */
