/* Stand k12/uebungswebsite/fertig/ - Farbwerte und Einheiten */

html { 
  scroll-behavior: smooth; 
}

.site-nav li {
	display: inline;
	margin-right: 0.5rem;
}

.site-nav {
	background-color: #333;
  color: white; 
	padding: 0.5rem;
  margin: 1rem 0; 
}
.site-nav ul {
  padding: 0; 
  margin: 0; 
}

.site-nav a {
  color: white; 
  text-decoration: none; 
}

.site-footer {
  background-color: #333;
  color: white; 
  text-align: right; 
  padding: 0.5rem;
  margin-top: 1rem; 
}

.site-footer a {
  color: white; 
  text-decoration: none; 
}

.meta-nav ul {
  padding: 0; 
  margin: 0; 
}
.meta-nav li {
	display: inline;
	margin-right: 0.5rem;
}

.site-header h1 { 
  margin-bottom: 0; 
}
.site-header p {
  margin-top: 0; 
}


/* Grundlegende Gestaltung des Abschnitts mit den Infoboxen */ 
.infoboxen {
  background-color: #eee; 
  padding: 1rem; 
  margin-bottom: 1rem; 
}

.infobox {
  text-align: center; 
  background-color: white; 
  padding: 1rem;
  margin: 1rem; 
}


/* Grundlegende Gestaltung - aktueller Link in der Navigation */ 

.current a {
  text-decoration: underline; 
}


/* Grundlegende Gestaltung der Inhalte auf der Seite News */

.beitragsliste h3, 
.linklisten h3 {
  padding-top: 0.5rem; 
  border-top: 1px solid #eee; 
  margin-bottom: 0.25rem; 
}
.beitragsliste h3 a { 
  color: #333; 
}
.beitragsliste article, 
.linklisten section { 
  margin-bottom: 3rem; 
}
.beitragsinfo { 
  color: #999; 
}


/* Grundlegende Gestaltung von Kontaktdaten und Kontaktformular */ 

address {
  font-style: normal; 
}

.kontaktformular form {
  max-width: 400px; 
  background-color: #eee; 
  padding: 1rem; 
}

.kontaktformular div {
  margin-bottom: 1rem; 
}

.kontaktformular label { 
  cursor: pointer; 
}      

.kontaktformular label[for] { 
  display: block; 
}      
      
.kontaktformular button {
  background-color: #0b74b8;
  color: white; 
  padding: 0.5rem; 
  border: none;   
  font-size: inherit; 
  cursor: pointer; 
}

