/* ================================

   basis.css  

   - allgemeine Einstellungen  
   - grundlegende Schrift- und Textgestaltung 
   - Elementselektoren und allgemeine Klassen 

   ================================ */

/**
  * 1. Allgemeine Einstellungen   
  */ 

*, 
*::before, 
*::after { 
  box-sizing: border-box; 
}

html { scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote {
  margin-top: 0; 
}


/**
  * 2. Grundlegende Schrift- und Textgestaltung   
  */

body {
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem; 
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; font-variant: small-caps; }


/**
  * 3. Elementselektoren und nützliche Klassen 
  */

img, video {
  max-width: 100%; 
  height: auto; 
}
      
figure {
  margin-left: 0; 
  margin-right: 0; 
}

address { 
  font-style: normal; 
}

.visually-hidden { 
  position: absolute; 
  clip: rect(0, 0, 0, 0); 

  width: 1px; 
  height: 1px; 
  padding: 0; 
  border: 0; 
  margin: -1px; 

  overflow: hidden; 
} 


.float-rechts {
  float: right; 
  margin: 0 0 0 1rem;
}

.float-links {
  float: left; 
  margin: 0 1rem 0 0; 
}

.float-stoppen {
  clear: both; 
}

figure[class*="float-"] {
  text-align: center; 
}


.float-umschliessen {
  overflow: hidden; 
}

@supports (display: flow-root) {

  .float-umschliessen {
    display: flow-root; 
    overflow: initial; 
  }

}


.site-content {
  scroll-margin-top: 1rem;
}


/* eof */ 

