/* ================================

formulare.css  

- Gestaltung des Kontaktformulars

================================ */

.kontaktformular form {
  max-width: 400px; 
  background-color: #eee; 
  padding: 1rem; 
}

.kontaktformular div {
  margin-bottom: 1rem; 
}

.kontaktformular label { 
  cursor: pointer; 
}      

.kontaktformular label[for] { 
  display: block; 
}      
      
.kontaktformular button {
  background-color: #0b74b8;
  color: white; 
  padding: 0.5rem; 
  border: none;   
  font-size: inherit; 
  cursor: pointer; 
}

/* eof */