/* ================================

   layout-modern.css  

   ================================ */

html { 
  background-color: transparent; 
}

body { 
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  min-height: -webkit-fill-available; 
  
  max-width: none; 
  padding: 0; 
  margin: 0; 
}

.site-content {
  flex: 1; 
}

.inside {
  max-width: 600px; 
  padding: 0 1rem; 
  margin: 0 auto; 
}

@supports (display:grid) {
  .inside {
    max-width: 960px; 
  }
}

.site-header,
.site-nav,
.site-content,
.site-footer {
  padding-left: 0; 
  padding-right: 0; 
}

/* eof */